{% extends 'layout.html' %}
{% load bootstrap4 i18n %}

{% block title %}{% translate 'DeleteTasks' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><a href="/">{% translate 'BreadcrumbHome' %}</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'tasks' %}">{% translate 'Tasks' %}</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'delete_task' task.id %}">{% translate 'DeleteTasks' %}</a></li>
  </ol>
{% endblock breadcrumb %}

{% block content %}
    <div class="container mt-5">
        <h2>{% translate 'DeleteTasks' %}</h2>
        <div class="mt-5">{% translate 'AreYouSureToDeleteTask' %} <strong>"{{ task.name }}"</strong>?</div>
        <div style="display: inline-block">
            <form class="form" method="post">
                {% csrf_token %}
                <input class="btn btn-outline-danger mt-3" type="submit" value="{% translate 'DeleteConfirm' %}">
            </form>
        </div>
        <div style="display: inline-block">
            <a class="btn btn-outline-info mt-3" href="{% url 'tasks' %}">{% translate 'Cancel' %}</a>
        </div>
    </div>
{% endblock %}