{% extends 'layout.html' %}
{% load i18n %}
{% block title %}{% translate 'Tasks' %}{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><a href="/">{% translate 'BreadcrumbHome' %}</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'tasks' %}">{% translate 'Tasks' %}</a></li>
  </ol>
{% endblock breadcrumb %}
{% block content %}
    <h2 class="mt-5">{% translate 'Tasks' %}</h2>
    <a href="{% url 'create_task' %}"><button class="btn btn-outline-info btn-sm mt-2 mb-2">{% translate 'CreateTask' %}</button></a>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">{% translate 'TaskID' %}</th>
          <th scope="col">{% translate 'TaskName' %}</th>
          <th scope="col">{% translate 'Status' %}</th>
          <th scope="col">{% translate 'TaskCreator' %}</th>
          <th scope="col">{% translate 'TaskExecutor' %}</th>
          <th scope="col">{% translate 'UserDateReg' %}</th>
          <th scope="col">{% translate 'TaskActions' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks_list %}
            <tr>
                <td>{{ task.id }}</td>
                <td><a href="{% url 'detail_task' task.id %}">{{ task.name }}</a></td>
                <td>{{ task.status }}</td>
                <td>{{ task.creator }}</td>
                <td>{{ task.executor }}</td>
                <td>{{ task.created_at|date:'d.m.Y H:i' }}</td>
                <td>
                    <a href="{% url 'update_task' task.id %}"><button class="btn btn-outline-info btn-sm mt-1">{% translate 'TaskChange' %}</button></a>
                    <a href="{% url 'delete_task' task.id %}"><button class="btn btn-outline-danger btn-sm mt-1">{% translate 'TaskDelete' %}</button></a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="7"><strong>{% translate 'TaskNotFound' %}</strong></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include 'pagination.html' %}
{% endblock content %}